In [1]:
import pandas as pd
import numpy as np

As the data set is too large I have considered frolm 10000th entry to 19999 entry

In [2]:
df = pd.read_csv("tripData.csv")[10000:20000]

In [3]:
df.shape

(10000, 6)

In [4]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
10000,2016-03-10 08:01:18,2016-03-10 08:11:26,-74.002968,40.760349,-73.985107,40.760189
10001,2016-03-10 08:01:18,2016-03-10 08:16:50,-73.965683,40.774269,-73.966766,40.758808
10002,2016-03-10 08:01:19,2016-03-11 07:51:43,-73.958603,40.800125,-73.958023,40.784805
10003,2016-03-10 08:01:20,2016-03-10 08:12:16,-73.990440,40.756210,-73.972229,40.759430
10004,2016-03-10 08:01:20,2016-03-10 08:09:50,-73.982124,40.774906,-73.969170,40.798092

In [5]:
#convertion of datetime strings into datetime
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"], format='%Y-%m-%d %H:%M:%S')
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"], format='%Y-%m-%d %H:%M:%S')

The data set donot contain the time taken to reach the destination. Therefore it is been added

In [6]:
df['trip_duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df['trip_duration']=df['trip_duration']/np.timedelta64(1,'s')
df['trip_duration']=round(df['trip_duration']/60)

In [7]:
#Get latitude and longitude differences 
df["latitude_difference"] = df["dropoff_latitude"] - df["pickup_latitude"]
df["longitude_difference"] = df["dropoff_longitude"] - df["pickup_longitude"]

The below code is the manhattan distance between the given pickup and drop latitude and longitude values

In [8]:
df["distance"] = 0.621371 * 6371 * (abs(2 * np.arctan2(np.sqrt(np.square(np.sin((abs(df["latitude_difference"]) * np.pi / 180) / 2))), 
                                  np.sqrt(1-(np.square(np.sin((abs(df["latitude_difference"]) * np.pi / 180) / 2)))))) + \
                                     abs(2 * np.arctan2(np.sqrt(np.square(np.sin((abs(df["longitude_difference"]) * np.pi / 180) / 2))), 
                                  np.sqrt(1-(np.square(np.sin((abs(df["longitude_difference"]) * np.pi / 180) / 2)))))))

As we are trying to predict the trip duration and those details are added in the above code, the dataframe is converted to csv file "trainData.csv" and saved on local directory to further train the model

In [9]:
df.to_csv('trainData.csv')